.upload-container {
  padding-top: 20px;
  font-family: Arial, sans-serif;
}

.upload-box {
  background: #e8e8e8;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px white;
}

@media (max-width: 600px) {
  .upload-box {
    flex-direction: column;
    align-items: stretch;
  }
  .save-btn {
    width: 100%;
  }
}

.upload-left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.upload-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.upload-left input[type="file"] {
  padding: 10px 12px;
  height: 44px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  box-sizing: border-box;
  line-height: normal;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.upload-box input[type="file"] {
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
}

.save-btn {
  color: #05b9bc;
  border: none;
  height: 44px;
  padding: 0px 16px;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 14px;
  background-color: #e8e8e8;
}
.upload-box .fa-plus-circle {
  font-size: 30px;
}

.table-wrapper {
  background: #e8e8e8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px white;
}

.table-header {
  text-align: right;
  margin-bottom: 10px;
}

.print-btn {
  color: #05b9bc;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 22px;
  margin-right: -10px;
  background-color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 22px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.delete-icon {
  font-size: 20px;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}
.tooltip-container1 {
  position: relative;
  display: inline-block;
}

.custom-tooltip {
  visibility: hidden;
  background-color: white;
  box-shadow: 0 0 5px gray;
  color: #05b9bc;
  text-align: center;
  padding: 5px 8px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  top: -130%; /* position above the icon */
  transform: translateX(-85%);
  white-space: nowrap;

  opacity: 0;
  transition: opacity 0.3s;
}
.custom-tooltip1 {
  visibility: hidden;
  background-color: white;
  box-shadow: 0 0 5px gray;
  color: #05b9bc;
  text-align: center;
  padding: 2px 8px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  left: -250%;
  white-space: nowrap;
  opacity: 0;
  font-size: 16px;
}

.tooltip-container:hover .custom-tooltip {
  visibility: visible;
  opacity: 1;
}
.tooltip-container1:hover .custom-tooltip1 {
  visibility: visible;
  opacity: 1;
}
